.navbar-text{
  padding-right: 95px;
  font-size: 26px;
}

h1 {
  padding-top: 150px;
}



nav{
  background-color: #BC8F8F;

}

nav a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 17px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #BC8F8F	;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
}

footer a{
  font-weight: bold;
  color: #563D7C;
}



i{
  color: #000000;
  padding-right: 7px;
  padding-left: 7px;

}


.main-text a{
  color:#563D7C;
  font-weight: bold;
}

.main-text{
  padding-top:10%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
}


.main-text h1{
  padding-top: 0px;
  font-size:22px;
  color: #000000;
}

.main-text h2{
  padding-top: 0px;
  font-size:18px;
  color: #000000;
}
