.title-slide {
  background-color: #9f5f5f;

}

.title-slide h1 {
    background-color: #000000;
    color: #9f5f5f;
}

.title-slide .remark-slide-number {
  display: none;
}

a{
  color:#563D7C;
  font-weight: bold;
}

p {
font-size: 30px;
}

ul {
  font-size: 30px;

}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}


td{
  font-size:32px;
  padding:5px;
  text-align:center;
  
}

th, td{padding: 5px;
  font-size:32px;
}

thead, tfoot, tr:nth-child(even) { background: #eee }


div.my-header {
    background-color: #9f5f5f;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    text-align: left;
}

div.my-footer {
    background-color: #9f5f5f;
    position: fixed;
    bottom: 5px;
    left: 0px;
    height: 20px;
    width: 100%;
    text-align: center;
}

  
  
.question{
  background-color:#cfafaf;
  font-size: 43px;
  color:#000000;
  text-align:center;

}

.pull-left {
  float: left;
  width: 50%;
}
.pull-right {
  float: right;
  width: 50%;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.remark-code, .remark-inline-code { 
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  font-size: 32px;
}

