.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover {
    background-color: #9f5f5f; }
    
h1, h2, h3 {
  color:#9f5f5f;}
  
h1{
  margin-top:45px;
}
  
a {
  color:#563D7C;
  text-decoration:underline;
  font-weight: bold;
}

ul {
    list-style-type: square;
    
}


